<h2>Discount #<%= @bulk_discount.id %></h2>

<p>Percent Discount: <%= @bulk_discount.discount %>% off</p>
<p>Item Threshold: <%= @bulk_discount.threshold %> items.</p>

<%= link_to "Edit #{@bulk_discount.id}" %>